<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuersheng.myProject.mapper.cus.PermissionMapper">

    <resultMap id="MenusAction" extends="com.xuersheng.myProject.mapper.MenuMapper.BaseResultMap"
               type="com.xuersheng.myProject.model.Menu">
        <collection property="actions" ofType="com.xuersheng.myProject.model.Action"
                    resultMap="com.xuersheng.myProject.mapper.ActionMapper.BaseResultMap"
                    column="m_id" foreignColumn="a_menu_id">
        </collection>
    </resultMap>

    <resultMap id="RolesMap" extends="com.xuersheng.myProject.mapper.RoleMapper.BaseResultMap"
               type="com.xuersheng.myProject.model.Role">
        <collection property="menuIds" ofType="java.lang.Long">
            <constructor>
                <arg column="menu_id"/>
            </constructor>
        </collection>
        <collection property="actionIds" ofType="java.lang.Long">
            <constructor>
                <arg column="action_id"/>
            </constructor>
        </collection>
    </resultMap>

    <select id="countActionsByRole" resultType="java.lang.Integer">
        SELECT count(a.id)
        FROM role r
        LEFT JOIN roles_action rb ON r.id = rb.role_id
        LEFT JOIN action a ON rb.action_id = a.id
        <where>
            r.id IN
            <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
                #{roleId}
            </foreach>
            AND a.path=#{path}
            AND r.deleted = 0
            AND rb.deleted = 0
            AND a.deleted = 0
            AND a.enabled = 1
            AND a.locked = 0
        </where>
    </select>

    <select id="selectRoles" resultMap="RolesMap">
        SELECT
        <include refid="com.xuersheng.myProject.mapper.RoleMapper.Base_Column_List"></include>,
        rm.menu_id,
        ra.action_id
        FROM role r
        LEFT JOIN roles_menus rm ON r.id = rm.role_id
        LEFT JOIN roles_action ra ON r.id = ra.role_id
        WHERE r.deleted = 0
        AND (rm.deleted = 0 OR rm.deleted IS NULL)
        AND (ra.deleted = 0 OR ra.deleted IS NULL)
    </select>
</mapper>