<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuersheng.myProject.mapper.cus.UserCusMapper">
    <resultMap id="CusResultMap" extends="com.xuersheng.myProject.mapper.UserMapper.BaseResultMap"
               type="com.xuersheng.myProject.model.User">
        <association property="userSetting"
                     resultMap="com.xuersheng.myProject.mapper.UserSettingMapper.BaseResultMap"
                     column="u_id" foreignColumn="us_user_id">
        </association>
        <collection property="roles"
                    resultMap="com.xuersheng.myProject.mapper.RoleMapper.BaseResultMap"
                    column="u_id" foreignColumn="ur_user_id">
        </collection>
    </resultMap>
    <resultMap id="UserAndRoleIdMap" extends="com.xuersheng.myProject.mapper.UserMapper.BaseResultMap"
               type="com.xuersheng.myProject.model.User">
        <collection property="roleIds" ofType="java.lang.Long">
            <constructor>
                <arg column="role_id"/>
            </constructor>
        </collection>
    </resultMap>

    <select id="selectUserDetailById" resultMap="CusResultMap">
        SELECT
        <include refid="com.xuersheng.myProject.mapper.UserMapper.Base_Column_List"/>,
        <include refid="com.xuersheng.myProject.mapper.UserSettingMapper.Base_Column_List"/>,
        <include refid="com.xuersheng.myProject.mapper.UsersRolesMapper.Base_Column_List"/>,
        <include refid="com.xuersheng.myProject.mapper.RoleMapper.Base_Column_List"/>
        FROM user u
        LEFT JOIN user_setting us ON u.id = us.user_id
        LEFT JOIN users_roles ur ON u.id = ur.user_id
        LEFT JOIN role r ON ur.role_id = r.id
        <where>
            u.id = #{id}
            AND (us.deleted = 0 OR us.deleted IS NULL)
            AND (ur.deleted = 0 OR ur.deleted IS NULL)
            AND (r.deleted = 0 OR r.deleted IS NULL)
        </where>
    </select>

    <select id="selectUserByDto" resultMap="UserAndRoleIdMap">
        SELECT<include refid="com.xuersheng.myProject.mapper.UserMapper.Base_Column_List"/>,
        ur.role_id
        FROM user u
        LEFT JOIN users_roles ur ON u.id = ur.user_id
        WHERE (u.deleted = 0 OR u.deleted IS NULL)
        AND (ur.deleted = 0 OR ur.deleted IS NULL)
    </select>

</mapper>