<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="multiDataSource"/>
        <property name="defaultTimeout" value="60"/>
        <property name="rollbackOnCommitFailure" value="true"/>
        <property name="globalRollbackOnParticipationFailure" value="true"/>
    </bean>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="multiDataSource"/>
        <property name="mapperLocations" value="classpath:sqlMapper/**/*Mapper.xml"/>
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <!-- 其他mybatis 配置项-->
                <property name="mapUnderscoreToCamelCase" value="true"/>
                <property name="defaultEnumTypeHandler"
                          value="com.xuersheng.myProject.typehandler.AutoEnumTypeHandler"/>
            </bean>
        </property>
    </bean>

    <bean id="multiDataSource" class="com.xuersheng.myProject.db.MultiDataSource">
        <property name="targetDataSources">
            <map>
                <entry key="default" value-ref="serverDataSources"/>
            </map>
        </property>
    </bean>

    <bean id="mysqlDruidDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init"
          destroy-method="close"
          lazy-init="true"
          abstract="true">
        <property name="maxActive" value="2"/>
        <property name="initialSize" value="1"/>
    </bean>
    <bean id="serverDataSources" parent="mysqlDruidDataSource">
        <property name="name" value="serverDataSources"/>
        <property name="url" value="jdbc:mysql://localhost:3306/myProject"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
</beans>