<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuersheng.myProject.mapper.DictDetailMapper">
  <resultMap id="BaseResultMap" type="com.xuersheng.myProject.model.DictDetail">
    <id column="dd_id" jdbcType="BIGINT" property="id" />
    <result column="dd_label" jdbcType="VARCHAR" property="label" />
    <result column="dd_value" jdbcType="VARCHAR" property="value" />
    <result column="dd_sort" jdbcType="VARCHAR" property="sort" />
    <result column="dd_dict_id" jdbcType="BIGINT" property="dictId" />
    <result column="dd_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="dd_deleted" jdbcType="BIT" property="deleted" />
    <result column="dd_version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dd.id as dd_id, dd.label as dd_label, dd.value as dd_value, dd.sort as dd_sort, dd.dict_id as dd_dict_id, 
    dd.create_time as dd_create_time, dd.deleted as dd_deleted, dd.version as dd_version
  </sql>
  <select id="selectByExample" parameterType="com.xuersheng.myProject.model.example.DictDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dict_detail dd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dict_detail dd
    where dd.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dict_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xuersheng.myProject.model.example.DictDetailExample">
    delete from dict_detail dd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xuersheng.myProject.model.DictDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dict_detail (label, value, sort, 
      dict_id, create_time, deleted, 
      version)
    values (#{label,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}, 
      #{dictId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xuersheng.myProject.model.DictDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dict_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="label != null">
        label,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="dictId != null">
        dict_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="dictId != null">
        #{dictId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xuersheng.myProject.model.example.DictDetailExample" resultType="java.lang.Long">
    select count(*) from dict_detail dd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dict_detail dd
    <set>
      <if test="record.id != null">
        dd.id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.label != null">
        dd.label = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null">
        dd.value = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        dd.sort = #{record.sort,jdbcType=VARCHAR},
      </if>
      <if test="record.dictId != null">
        dd.dict_id = #{record.dictId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        dd.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        dd.deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.version != null">
        dd.version = #{record.version,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dict_detail dd
    set dd.id = #{record.id,jdbcType=BIGINT},
      dd.label = #{record.label,jdbcType=VARCHAR},
      dd.value = #{record.value,jdbcType=VARCHAR},
      dd.sort = #{record.sort,jdbcType=VARCHAR},
      dd.dict_id = #{record.dictId,jdbcType=BIGINT},
      dd.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      dd.deleted = #{record.deleted,jdbcType=BIT},
      dd.version = #{record.version,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuersheng.myProject.model.DictDetail">
    update dict_detail
    <set>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="dictId != null">
        dict_id = #{dictId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuersheng.myProject.model.DictDetail">
    update dict_detail
    set label = #{label,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR},
      dict_id = #{dictId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>